/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 10, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Love Ya Like A Sister', cursive;
}

/* line 13, ../sass/style.scss */
.hide {
  display: none;
}

/* line 16, ../sass/style.scss */
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

/* line 21, ../sass/style.scss */
header {
  display: block;
  background-image: url("../img/leaf-banner-bg.jpg");
  background-size: cover;
  border-bottom: 3px outset #43C000;
  border-top: 3px outset #43C000;
  box-shadow: 0 0 5px black;
}
/* line 28, ../sass/style.scss */
header h2 {
  font-size: 2em;
}

/* line 32, ../sass/style.scss */
.page-header {
  border-top: none;
}

/* line 36, ../sass/style.scss */
nav .main-toggle {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 5em;
  width: 5em;
  background-image: url(../img/sun.png);
  background-size: contain;
  transition: 1s all;
}
/* line 49, ../sass/style.scss */
nav .main-toggle span {
  display: block;
  height: .3em;
  width: 2em;
  background: black;
  border-radius: 7px;
  transition: 0s all .25s;
}
/* line 57, ../sass/style.scss */
nav .main-toggle span:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  position: relative;
  top: -.6em;
  background-color: black;
  transition: 0s all .25s;
}
/* line 68, ../sass/style.scss */
nav .main-toggle span:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  position: relative;
  top: .3em;
  background-color: black;
  transition: 0s all .25s;
}
/* line 80, ../sass/style.scss */
nav #menu-toggle:checked ~ label {
  transform: rotateY(180deg);
}
/* line 82, ../sass/style.scss */
nav #menu-toggle:checked ~ label span {
  background: transparent;
}
/* line 85, ../sass/style.scss */
nav #menu-toggle:checked ~ label span:before {
  transform: translateY(0.6em) rotate(45deg);
  background-color: red;
  box-shadow: 0 0 3px red;
}
/* line 90, ../sass/style.scss */
nav #menu-toggle:checked ~ label span:after {
  transform: translateY(-0.6em) rotate(-45deg);
  background-color: red;
  box-shadow: 0 0 3px red;
}
/* line 96, ../sass/style.scss */
nav .menu {
  position: fixed;
  height: 100vh;
  width: 40vw;
  top: 0;
  left: calc(-40vw - 10px);
  background: linear-gradient(#7dee40 0%, #51e800 100%);
  transition: .5s all;
  box-shadow: 5px 0 5px black;
}
/* line 105, ../sass/style.scss */
nav .menu li {
  line-height: 25vh;
  text-align: center;
}
/* line 109, ../sass/style.scss */
nav .menu label {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 115, ../sass/style.scss */
nav #menu-toggle:checked ~ .menu {
  transform: translateX(calc(40vw + 5px));
}
/* line 118, ../sass/style.scss */
nav .sub-menu {
  position: fixed;
  height: 100vh;
  width: 40vw;
  top: 0;
  left: calc(-40vw - 10px);
  background: linear-gradient(#7dee40 0%, #51e800 100%);
  transition: .5s all;
  box-shadow: 6px 0 5px black;
}
/* line 128, ../sass/style.scss */
nav #sub-menu-toggle:checked ~ .sub-menu {
  transform: translateX(80vw);
}

/* line 134, ../sass/style.scss */
main section article {
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at center, #ffee9d 0%, #ffe66e 100%);
}
/* line 138, ../sass/style.scss */
main section article .slider-box {
  display: block;
  max-height: 337px;
  max-width: 449px;
  box-shadow: 0 0 5px black;
}
/* line 143, ../sass/style.scss */
main section article .slider-box .slides {
  display: flex;
  flex-direction: row;
  max-height: 337px;
  max-width: 449px;
  overflow: hidden;
}
/* line 149, ../sass/style.scss */
main section article .slider-box .slides .slide {
  display: block;
  max-width: 100vw;
}
/* line 155, ../sass/style.scss */
main section article header {
  width: 100%;
  text-align: center;
}
/* line 158, ../sass/style.scss */
main section article header h1, main section article header h2, main section article header h3 {
  padding: 2vh 0;
}
/* line 162, ../sass/style.scss */
main section article p {
  padding: 1vh 2.5vw;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
}
/* line 168, ../sass/style.scss */
main section article .services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 2.5vw;
  padding: 2vh 2.5vw;
  border: 3px outset #43C000;
  background: linear-gradient(#7dee40 0%, #51e800 100%);
  box-shadow: 0 0 5px black;
}
/* line 177, ../sass/style.scss */
main section article .services .service {
  width: 50%;
  line-height: 1.5em;
  font-size: .85em;
  text-align: center;
}
