/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 10, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, span {
  font-family: 'Love Ya Like A Sister', cursive;
}

/* line 13, ../sass/style.scss */
.hide {
  display: inline-block;
  position: absolute;
  top: -100vh;
  left: -100vw;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 1px;
  width: 1px;
  font-size: 0;
}

/* line 26, ../sass/style.scss */
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

/* line 31, ../sass/style.scss */
header {
  display: block;
  background-image: url("../img/leaf-banner-bg.jpg");
  background-size: cover;
  border-bottom: 3px outset #43C000;
  border-top: 3px outset #43C000;
  box-shadow: 0 0 5px black;
}
/* line 38, ../sass/style.scss */
header h2 {
  font-size: 2em;
}

/* line 42, ../sass/style.scss */
.page-header {
  border-top: none;
}
/* line 44, ../sass/style.scss */
.page-header img {
  max-width: 100vw;
  max-height: 300px;
}

/* line 50, ../sass/style.scss */
nav .main-toggle {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 5em;
  width: 5em;
  background-image: url(../img/sun.png);
  background-size: contain;
  transition: 1s all;
  z-index: 100;
}
/* line 64, ../sass/style.scss */
nav .main-toggle span {
  display: block;
  height: .3em;
  width: 2em;
  background: black;
  border-radius: 7px;
  transition: 0s all .25s;
}
/* line 72, ../sass/style.scss */
nav .main-toggle span:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  position: relative;
  top: -.6em;
  background-color: black;
  transition: 0s all .25s;
}
/* line 83, ../sass/style.scss */
nav .main-toggle span:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  position: relative;
  top: .3em;
  background-color: black;
  transition: 0s all .25s;
}
/* line 95, ../sass/style.scss */
nav #menu-toggle:checked ~ label {
  transform: rotateY(180deg);
}
/* line 97, ../sass/style.scss */
nav #menu-toggle:checked ~ label span {
  background: transparent;
}
/* line 100, ../sass/style.scss */
nav #menu-toggle:checked ~ label span:before {
  transform: translateY(0.6em) rotate(45deg);
  background-color: red;
  box-shadow: 0 0 3px red;
}
/* line 105, ../sass/style.scss */
nav #menu-toggle:checked ~ label span:after {
  transform: translateY(-0.6em) rotate(-45deg);
  background-color: red;
  box-shadow: 0 0 3px red;
}
/* line 111, ../sass/style.scss */
nav .menu {
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 40vw;
  top: 0;
  left: calc(-40vw - 10px);
  background: linear-gradient(#7dee40 0%, #51e800 100%);
  transition: .5s all;
  box-shadow: 5px 0 5px black;
}
/* line 121, ../sass/style.scss */
nav .menu li {
  line-height: 25vh;
  text-align: center;
}
/* line 124, ../sass/style.scss */
nav .menu li a {
  font-size: 1.25em;
}
/* line 127, ../sass/style.scss */
nav .menu li label {
  display: block;
  font-size: 1.25em;
  height: 100%;
  width: 100%;
}
/* line 135, ../sass/style.scss */
nav #menu-toggle:checked ~ .menu {
  transform: translateX(calc(40vw + 5px));
}
/* line 138, ../sass/style.scss */
nav .sub-menu {
  position: fixed;
  height: 100vh;
  width: 40vw;
  top: 0;
  left: calc(-40vw - 10px);
  background: linear-gradient(#7dee40 0%, #51e800 100%);
  transition: .5s all;
  box-shadow: 6px 0 5px black;
}
/* line 148, ../sass/style.scss */
nav #sub-menu-toggle:checked ~ .sub-menu {
  transform: translateX(80vw);
}

/* line 154, ../sass/style.scss */
main section article {
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at center, #ffee9d 0%, #ffe66e 100%);
  padding: 5vh 0 0 0;
}
/* line 159, ../sass/style.scss */
main section article:last-of-type {
  padding: 5vh 0 5vh 0;
}
/* line 162, ../sass/style.scss */
main section article .slide-box {
  display: block;
  position: relative;
  max-height: 337px;
  max-width: 449px;
  box-shadow: 0 0 5px black;
}
/* line 168, ../sass/style.scss */
main section article .slide-box .slides {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
/* line 172, ../sass/style.scss */
main section article .slide-box .slides .slide {
  display: block;
  max-width: 100vw;
}
/* line 175, ../sass/style.scss */
main section article .slide-box .slides .slide .slide-img {
  display: block;
  max-width: 100vw;
}
/* line 181, ../sass/style.scss */
main section article .slide-box .slide-btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/* line 188, ../sass/style.scss */
main section article .slide-box .slide-btns span {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 194, ../sass/style.scss */
main section article .slide-box .slide-btns span span {
  color: white;
}
/* line 198, ../sass/style.scss */
main section article .slide-box .slide-btns #pre {
  background: linear-gradient(right, transparent, black);
}
/* line 201, ../sass/style.scss */
main section article .slide-box .slide-btns #next {
  background: linear-gradient(left, transparent, black);
}
/* line 206, ../sass/style.scss */
main section article header {
  width: 100%;
  text-align: center;
}
/* line 209, ../sass/style.scss */
main section article header h1, main section article header h2, main section article header h3 {
  padding: 2vh 0;
}
/* line 213, ../sass/style.scss */
main section article p {
  padding: 5vh 2.5vw 0 2.5vw;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
}
/* line 219, ../sass/style.scss */
main section article .services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 2.5vw;
  padding: 2vh 2.5vw;
  border: 3px outset #43C000;
  background: linear-gradient(#7dee40 0%, #51e800 100%);
  box-shadow: 0 0 5px black;
}
/* line 228, ../sass/style.scss */
main section article .services .service {
  width: 50%;
  line-height: 1.5em;
  font-size: .85em;
  text-align: center;
}

/* line 238, ../sass/style.scss */
footer {
  display: block;
  height: calc(100vh + 3px);
  width: 100vw;
  border-top: 3px outset #43C000;
  box-shadow: 0 0 5px black;
  background-color: #343434;
}
/* line 245, ../sass/style.scss */
footer * {
  color: #43C000;
}
/* line 248, ../sass/style.scss */
footer article {
  padding: 0vh 5vw;
}
/* line 251, ../sass/style.scss */
footer header {
  font-family: 'Love Ya Like A Sister', cursive;
  background-image: none;
  border: none;
  box-shadow: none;
  font-size: 1.3em;
  font-weight: bold;
  padding: 2vh 0vw;
  letter-spacing: .1em;
}
/* line 261, ../sass/style.scss */
footer ul {
  padding: 1vh 0vw;
}
/* line 263, ../sass/style.scss */
footer ul li {
  padding: 1vh 0vw;
}
